{namespace main}

/**
 * Display a full screen map.
 */
{template .Map}

    {call shared.Header /}

		<div id="map_canvas" style="width:100%; height:100%"></div>    
    
	{call shared.Footer /}
{/template}